<p class="btn"><a onClick="sound()">クリック</a></p>
 
<audio id="sound" preload="auto">
    <source src="http://idotdesign.net/wp-content/themes/idotdesign/sound/sound.mp3" type="audio/mp3">
    <source src="http://idotdesign.net/wp-content/themes/idotdesign/sound/sound.wav" type="audio/wav">
</audio>