.btn a {
  width: 180px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  display: block;
  background: #999;
  border-radius: 5px;
  border-bottom: 4px solid #666;
  color: #FFF;
  padding: 50px 0 0 0;
}

.title {
  text-align: center;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  height: 8vh; 
  padding: 15px 0 0 0;
  color: #222;
}

.table {
  display: flex;
  justify-content: center;
  width: 100%;
}